[Unit]
Description=ai
After=network.target

[Service]
Type=simple
WorkingDirectory=###
ExecStart=###/ai -addr 0.0.0.0:11434 -embed -tts -stt -image -preview -edits
Restart=always
RestartSec=1

[Install]
WantedBy=default.target