[Unit]
Description=ai
After=network.target

[Service]
Type=simple
WorkingDirectory=###
ExecStart=###/ai -embed -tts -stt -image -addr 0.0.0.0:11434
Restart=always
RestartSec=1

[Install]
WantedBy=default.target